body 
{
	background-color:#d1d1d1;
}
#tweeter /*Styles the Unordered list*/
{
    width:40%;
    list-style:none;
}
.tweet /*Styles each individual tweet*/
{
    margin: 1%;
	color: #ffffff;
	font-family: "Lucida Grande", Verdana, sans-serif;
	padding: 5% 5%;
	font-size:0.9em;
}
.tweet a
{
	color:#c99a54;
	text-decoration: none;
}
.tweet a:hover
{
	text-decoration: underline;
}

.tweet strong
{
	color:#FCFCFC;
	font-size:0.9em;
	display:block;
	font-variant: small-caps;
}